     <div class="card">
     <mat-toolbar color="primary">
        <span class="text-uppercase">GitHub-Charlotte</span>
        <span class="example-spacer"></span>
        <span class="material-icons">notifications</span>
        <button mat-button [matMenuTriggerFor]="menu"> <i class="material-icons">add</i> </button>
        
  <mat-menu #menu="matMenu">
    <button mat-menu-item>New repository</button>
    <button mat-menu-item>Import repository</button>
    <button mat-menu-item>New gist</button>
    <button mat-menu-item>New organization</button>
    <button mat-menu-item>New project</button>
  </mat-menu>
  <a routerLink="main">	<mat-icon>perm_identity</mat-icon></a>
  <a routerLink="repo">Repos</a>
      </mat-toolbar>
      
      <form class="example-form search text-center">
        <mat-form-field class="example-full-width " >
          <mat-label>Github User</mat-label>
          <input matInput  maxlength="256" placeholder="">
          
        </mat-form-field>

        <input type="submit" value="Search" >
      </form>
    </div>

   
<!--[(ngModel)]="username" name="username" (keyup)="findProfile()-->

<router-outlet></router-outlet>