     <div class="card">
     <mat-toolbar color="primary">
      <span class="material-icons">github</span>
        <span class="text-uppercase material-icons">GitHub-Charlotte</span>
        <span class="example-spacer"></span>
        <span class="material-icons">notifications</span>
        <button mat-button [matMenuTriggerFor]="menu"> <i class="material-icons">add</i> </button>
        
  <mat-menu #menu="matMenu">
    <button mat-menu-item>New repository</button>
    <button mat-menu-item>Import repository</button>
    <button mat-menu-item>New gist</button>
    <button mat-menu-item>New organization</button>
    <button mat-menu-item>New project</button>
  </mat-menu>
  <a routerLink="main" class="material-icons text-light">perm_identity</a>
  <a routerLink="repo" class="text-light">Repos</a>
      </mat-toolbar>
    </div>



<router-outlet></router-outlet>

<footer>
  <p class="text-center ">Developed by Charlotte <br> April 2020</p>
</footer>