<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-subtitle>Repository Name: <span> {{users.name}} </span> </mat-card-subtitle>
                <mat-divider inset></mat-divider>
                <mat-card-title></mat-card-title>
                <img mat-card-sm-image src="{{users.avatar_url}}" alt="">
                <mat-card-content >
                  <p> </p>
                  <p>Owner: {{users.name}} </p>
                  <p>Updated: </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                  <!-- <button mat-raised-button (click)="searchUsers(); searchRepos()">View repo</button>-->
                <a class=" btn-sm bg-warning" href="" >View repo</a>
                </mat-card-actions>
                <mat-card-footer>
                  <mat-progress-bar mode="buffer"></mat-progress-bar>
                </mat-card-footer>
              </mat-card>
        </div>
    </div>
</div>