<header>
  <p>
    <mat-toolbar color="primary">
      <span class="text-uppercase">GitHub-Charlotte</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  </header>
  <form class="example-form ">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Github User</mat-label>
      <input matInput name="user"  maxlength="256" placeholder="">
    </mat-form-field>
    <input type="submit" value="Search" >

    <p> {{users.company}}</p>
    <img src="{{users.avatar_url}}" alt="">
  </form>

  